@{ViewBag.Title = "About"; }
<div class="education_article">
    <h3 class="modal-title">致亲爱的朋友们</h3>
    <p>
    <p>
    <p>
    <p>
        当2006年来到澳洲后，我总想给国内的亲人、朋友、同学带去点什么——澳洲的绵羊油？奶粉？营养品？都不尽然。随着女儿慢慢长大，我对西式教育有了越来越深入的认识，同时我内心深处也越来越清晰自己该为他们做些什么了。
    </p>
    <p>
        西人——自信、乐观、积极主动的生活态度以及待人友善、对人有礼貌、落落大方的为人处世总在我的脑海里挥之不去，我觉得跟他们所受的教育有直接的关系。
    </p>
    <p>
        西式教育是种学生自我负责，老师的责任就是向学生展示知识和科学的魅力，点燃他们好奇心的火花，激起他们的求知欲望，让他们的智力自由发展的教育。在小学阶段，老师通过生动、有趣的授课来调动孩子们的学习兴趣；
        而孩子在学习过程中有主动权，学与不学，作业做与不做，老师不能强求，老师主要以鼓励的形式来提高孩子的学习积极性，所以学习对孩子们来说是愉快的、轻松的。西方父母都认可孩子们学习知识是为了充实自我，而不是为了实现父母的期待
        他们也从不以自家出了“天才”、“神童”为荣，他们认为最应该为孩子们做的是为孩子提供正常人应有的生活，尤其是亲情、快乐等感情需要。所以他们尽可能抽出时间陪孩子，和孩子一起玩，做孩子的朋友，并引导孩子建立正确的人生观、价值观等。
        他们也认可人生不可能速成，所以他们都希望自己的孩子能充分享受属于孩子们自己的童年、少年美好时光。他们也都相信孩子自己能走出一条属于同时也适合孩子自己的生活道路，在孩子走的过程中，会加以指点，但从不干涉。
        今展示澳洲的早期启蒙教育、小学教育、家庭教育及儿童英语，希望对国内那些关心孩子教育的父母们有所帮助。
    </p>
</div>
<div>
    <iframe src="https://player.vimeo.com/video/152256897" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/152256897">VID_20151228_195731</a> from <a href="https://vimeo.com/user47983758">Chang</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>